/* Common classes */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* Utilities */

.blue{
    color: #004AFF;
}

.dark_blue{
    color:  #031C4E;
}

.light_blue{
    color: #579AFF;
}

.bg_blue{
    background: #004AFF;
}

.bg_darkblue{
    background: #031C4E;
}

.bg_lightblue{
    background: #579AFF;
}

.bg_lightgray{
    background: #F3F5F9;
}

.d_flex{
    display: flex;
}

.text_right{
    text-align: right;
}

.btn_empty{
    border: 1px solid #2285FD;
    color: #2285FD;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn_empty:hover{
    background-color:#2285FD;
    color: white;
}

.btn_full{
    background-color: #2285FD;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    width: 90%;
}

.btn_white{
    border: 1px solid lightgray;
    width: 90%;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 5px;
    justify-content: center;
    position: relative;
}

.px_2{
    padding: 0 2rem;
}
/******
 Site Header 
 ******/


 /* Navbar */
nav{
    height: 66px;
    background-color: white;    
}

nav > .container{
    align-items: center;
    height: 100%;
}

.logo{
     height: 35px;
}

nav ul{
     list-style: none;
}

nav ul > li{
    display: inline-block;
    padding: 0 0.3rem;
}

nav a{
     text-decoration: none;
     color: #031C4E;
}

/* Jumbotron */

.jumbotron{
    background-color: #004AFF;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position-x: 50%;
    padding: 4rem 0;
}

.jumbotron .container{
    align-items: center;
    flex-wrap: wrap;
}

.jumbotext{
    color: white;
}
.jumbotext p{
    line-height: 28px;
    padding-right: 180px;
    font-size: 18px;
    opacity: 75%;
}

.jumbotext h1{
    font-size: 3rem;
    padding-right: 200px;
}

/* Registration card */
.card {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    width: 85%;
    margin: auto;
    font-size: 1rem;
    padding: 2.5rem 0;
}

.card h2{
    line-height: 150%;
}

.card .container{
    justify-content: center;
}

/* sign in email and password */
.card input{
    padding: 5px;
    width: 90%;
    margin: 5px 0;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.google{
    height: 15px;
    align-self: center;
    position: absolute;
    left: 10px;
}




 /******
 Site Main
 ******/

 /******
 Site Footer 
 ******/
 


 /******
  Mediaquerys 
  ******/


  /* Makes hamburger menu invisible */
 @media screen and (min-width: 992px){
     nav .fa-bars{
         display: none;
     }
 }

 /* Makes menu links invisible and hamburger menu appears */
 @media screen and (max-width:991px){
    nav .col-lg-4{
        display: none;
    }

     nav .fa-bars{
        display: block;
        color: #2285FD;
        font-size: 1.5rem;
    }

 }

/* Adds a padding to the logo */
 @media screen and (max-width:1225px){
     .logo{
         padding-left: 20px;
     }
 }